body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffcc00; /* Cor viva */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Largura máxima do container */
}

.album-cover {
    width: 100%;
    max-width: 100%; /* Largura máxima para a imagem */
    height: auto;
    border-radius: 10px;
}

.song-title {
    font-size: 1.5em;
    margin: 10px 0 5px;
}

.artist-name {
    font-size: 1.2em;
    color: #555; /* Cor mais suave para o nome do artista */
    margin-bottom: 20px;
}

.play-button {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.play-button:hover {
    background-color: #218838;
}

